



.centered{
    display: flex;
}


.leftimg {
    float: left;
    /* Выравнивание по левому краю */
    margin: 10px 10px 10px 0;
    /* Отступы вокруг картинки */
}

.rightimg {
    float: right;
    /* Выравнивание по правому краю  */
    margin: 10px 0 10px 10px;
    /* Отступы вокруг картинки */
}


.centeredimg {
    margin: 72px
}

.h1 {
    font-size: 320px;
}